.Login-Main-Outer-Container{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/Images/Carhero.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.Login-Main-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-clip: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgb(35 46 60 / 10%);
  border: 2px solid rgba(75,75,75,.26);
  background-color:  #f4f6fa;
  opacity: 0.9;
}

.Login-Header-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgb(35 46 60 / 10%);
  border-bottom: 1px solid rgba(75,75,75,.26);
  cursor: pointer;
}

.User-Header-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 49%;
  height: 50px;
  font-family: "McLaren",cursive;
  font-size: 26px;
  border-right: 1px solid rgba(75,75,75,.26);
  text-decoration: underline;
}

.Admin-Header-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 49%;
  height: 50px;
  font-family: "McLaren",cursive;
  font-size: 26px;
  text-decoration: underline;
}

.InActive{
  background-color: white;
  text-decoration: none;
}

.Login-Footer-Container{
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgb(35 46 60 / 10%);
  border-top: 1px solid rgba(75,75,75,.26);
  font-family: "McLaren",cursive;
  font-size: 20px;
  margin-top: 10px;
}

.Register{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
