<div  class="Login-Main-Outer-Container">
  <div class="Login-Main-Container">
    <div class="Login-Header-Container">
      <div class="User-Header-Container" [ngClass]="!user ? 'InActive' : ''" (click)="changeToUser()">
        <!-- <span class="User-Header">User</span> -->
        User
      </div>
      <div class="Admin-Header-Container" [ngClass]="user ? 'InActive' : ''" (click)="changeToAdmin()">
        <!-- <span class="Admin-Header">Admin</span> -->
        Admin
      </div>
    </div>
    <div>
      <ng-container *ngIf="user; else Admin">
        <app-userlogin></app-userlogin>
      </ng-container>
      <ng-template #Admin>
        <app-adminlogin></app-adminlogin>
      </ng-template>
    </div>
    <div class="Login-Footer-Container">
     Dont Have An Account?? <span class="Register" routerLink="/Register"> Sign up!</span>
    </div>
  </div>
</div>
