* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    font-family: Sen, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
  }
  
  h2 {
    margin-top: 60px;
    margin-bottom: 45px;
    font-family: McLaren, Georgia;
    font-size: 60px;
    line-height: 50px;
    font-weight: 700;
    color: #eb5757;
  }

  .container {
    height:auto;
    max-width: 1200px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    align-self: flex-start;
    font-family: McLaren, sans-serif;
    color: #eb5757;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  body{  
    font-family: Calibri, Helvetica, sans-serif;   
  }  

.formClass
{
    margin-right: auto;
    margin-left: auto;
    height:auto;
    width: 700px;
    padding: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #eb57573a;
    box-shadow:20px 20px 50px rgba(0, 0, 0, 0.308); 
}
  input {  
    width: 100%;  
    padding: 10px;  
    margin-right: 20px; 
    margin-top:10px; 
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #eb5757;  
  }  
  
  select{
    width: 100%;  
    padding: 10px;  
    margin-right: 20px; 
    margin-top:10px; 
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #eb5757;  

  }
 
  label{
    font-family: Calibri, Helvetica, sans-serif; 
    font-size:20px;
  }
  .registerbtn {  
    background-color: #4CAF50;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  .registerbtn:hover {  
    opacity: 1;  
  }  
  
  
  