<div class="container">
    <h2>Register for Vehicle here</h2>
</div>

<div class="formClass">
<form >   
    <input type="text" name="VehicleId" placeholder="Vehicle Registration Number" required><br>
                <input type="text" name="VehicleName" placeholder="Vehicle Name"><br>
                <input type="text" name="VehicleModel" placeholder="Vehicle Model" ><br>
                <select type="text" name="VehicleType"  class="typeclass" required>
                    <option selected disabled hidden value='undefined'> Select Vehicle Type: </option>
                    <option value="Two-Wheeler">Two Wheeler</option>
                    <option value="Three-Wheeler">Three Wheeler</option>
                    <option value="Four-Wheeler">Four Wheeler</option>
                </select><br>
                <input type="number" name="VehicleYear" placeholder="Vehicle Year" ><br>
                <input type="text" name="VehicleColour" placeholder="Vehicle Colour"><br>
                <input type="number" name="ExShowroomPrice" placeholder="Ex-Showroom Price"><br>
                <input type="number" name="OnRoadPrice" placeholder="OnRoadPrice" ><br><br>
 <button type="submit">Register Vehicle</button><br><br>
  </form> 
</div>
