.Appl-Header{
  display: flex;
  width: 70vw;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgb(35 46 60 / 10%);
  border: 1px solid rgba(75,75,75,.26);
}

.RowH{
  display: flex;
  width: 12.5%;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: black;
  color: white;
  font-family: "McLaren",cursive;

}


.Appl-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
}

.Appl{
  display: flex;
  width: 100%;
  height: 55px;
  box-shadow: 0 2px 4px 0 rgb(35 46 60 / 10%);
  border: 1px solid rgba(75,75,75,.26);
  margin-top:10px;
}

.Row{
  display: flex;
  width: 12.5%;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #fff;
  font-family: "McLaren",cursive;
}

.Appl:hover{
  transform: scale(1.01);
}

.Emi-Header-Container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.Card-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgb(35 46 60 / 10%);
  border: 1px solid rgba(101,109,119,.26);
  margin-left: 30px;

}

.Card-Main-Container{
  display: flex;
  width: 1000px;
  height: 300px;
  margin: auto auto;
}

.Card-Text-Container-Heading{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width:100%;
  font-family: "McLaren",cursive;
  font-size: 100px;

}
.Card-Text-Container-Text{
  font-family: "McLaren",cursive;
  font-size: 25px;
}

.Approve{
  color: green;
  font-size: 20px;
}

.Reject{
  color: red;
  font-size: 20px;
}
