<div class="card">
  <div class="text-center">
      <div class="img-hover-zoom img-hover-zoom--colorize">
          <img class="shadow" src="https://source.unsplash.com/rDEOVtE7vOs/600x600"
              alt="Another Image zoom-on-hover effect">
      </div>
  </div>
  <div class="Card-Body ">
      <div class="Name-Container">
          <h1 class="Name">{{Name}}</h1>
      </div>
      <div class="Role-Container">
          <h2 class="Role">{{Role}}</h2>
      </div>
      <div class="Box">
                  <i class="fab fa-github"></i>
                  <i class="fab fa-linkedin-in"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-twitter"></i>
      </div>
  </div>
</div>

