  <div class="hero-section wf-section">
    <div class="container">
      <div class="hero-wrapper">
        <h1 class="hero-heading">Dreaming of <span class="text-span">owning </span>a car someday?</h1>
        <p class="hero-paragraph">We are right by your side to make your dream a reality! We aim to ensures that you drive around the city in your own vehicle!</p>
      </div>
    </div>
  </div>
  <div class="features-section">
    <div class="container">
      <div class="support-top-wrapper">
        <div class="w-row">
          <div class="w-col w-col-6">
            <div class="small-heading">
              <p class="paragraph-2"><strong>WHAT WE DO</strong></p>
              <div class="horizontal-line"></div>
            </div>
            <h2 class="support-top-heading">Get behind the wheel with the finance you can afford!</h2>
          </div>
          <div class="w-col w-col-6">
            <p class="paragraph">Want to bring home your dream car, but don&#x27;t have enough funds? Now, you don&#x27;t need to wait for some more months or years to buy your dream car as you can take a car loan to meet your fund requirement. We can make this drive easy for you, apply for a car loan with us and become a proud owner of your dream car.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container feature">
      <div class="about-columns-wrapper">
        <div class="about-column">
          <h3>We are flexible!</h3>
          <p>Flexible contract terms and comfortable tenure of loan i.e. upto 7 years</p>
        </div>
        <div class="about-column">
          <h3>Easy application.</h3>
          <p>Almost everyone with a Permanent Income can apply for a car loan<br></p>
        </div>
        <div class="about-column">
          <h3>Pay less!</h3>
          <p>Very low processing fees and prepayment charges.</p>
        </div>
        <div class="about-column">
          <h3>Best in Class Service</h3>
          <p>We are committed to help you get the best rate of interest for your dream car.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-section wf-section">
    <div class="container shop-local-container">
      <div class="content-wrapper">
        <div class="meet-the-owners-wrapper">
          <div class="meet-the-owners-left"></div>
          <div class="meet-the-owners-right">
            <div class="small-heading">
              <p class="paragraph-2 white"><strong>ABOUT US</strong></p>
              <div class="horizontal-line white"></div>
            </div>
            <h2>We&#x27;re here to get you driving</h2>
            <p class="paragraph">You want a car loan but you don’t want it from a lender you can’t trust. You also don’t want to have to go back and forth between the bank and the dealership trying to get approved. We can get you driving a new vehicle without all of the hassle and frustration of getting a traditional car loan.<br><br>The Right Time to Get Driving is Now!<br><br>Our special finance programs offer more flexible rates, payment terms, and loan options designed to meet the needs of customers who aren’t buying through a traditional bank or lender. Our goal is to get you into and driving a new vehicle at a payment that fits your lifestyle and monthly budget.<br><br>We have a nationwide inventory of vehicles with thousands of makes and models to choose from. Our number one goal is to help find you the vehicle you love with a payment you can manage.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="Profile-Header-Container">
  <span class="Profile-Header">Meet Our Team</span>
  <app-profile></app-profile>
</div>



